<div class="app-menu-container">
    <div class="app-menu" [ngClass]="{'menu-displayed': showMenu}">
      <div class="menu-icon" (click)="showMenu = !showMenu">
          <i class="fa fa-bars"></i>
      </div>
      <div class="menu-panel" (click)="showMenu=false">
        <a [routerLink]="['/']" fragment="about-me" title="{{'menu.about-me' | translate}}"><i class="fa fa-user"></i></a>
        <a [routerLink]="['/']" fragment="formation" title="{{'menu.formation' | translate}}"><i class="fa fa-graduation-cap"></i></a>
        <a [routerLink]="['/']" fragment="experiences" title="{{'menu.experiences' | translate}}"><i class="fab fa-black-tie"></i></a>
        <a [routerLink]="['/']" fragment="skills" title="{{'menu.skills' | translate}}"><i class="fa fa-ruler-horizontal"></i></a>
        <a [routerLink]="['/']" fragment="leisure" title="{{'menu.leisure' | translate}}"><i class="fas fa-cocktail"></i></a>
      </div>
    </div>
</div>
