/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

@media (max-width: 576px) {
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
}

/* Quelques transformations de style de l'accordion ngx-bootstrap */
.panel .panel-heading {
  cursor: pointer;
}

.panel .panel-heading .btn-link {
  color: black;
  font-weight: bold;
}
.panel .panel-heading .btn-link:hover {
  text-decoration: none;
}

.panel.panel-open .panel-heading {
  background-color: lightskyblue;
}

.panel.panel-open .panel-body > * {
  white-space: normal;
}

@media (max-width: 576px) {
  .panel.panel-open .panel-body h5 {
    font-size: 16px;
  }

  .panel.panel-open .panel-body div {
    font-size: 14px;
  }
}

/* Barre de progression */
.progress-bar-1 bar {
  background-color: lightskyblue;
}
.progress-bar-2 bar {
  background-color: cornflowerblue;
}
.progress-bar-3 bar {
  background-color: lightblue;
}
.progress-bar-4 bar {
  background-color: lightseagreen;
}
.progress-bar-5 bar {
  background-color: cadetblue;
}
.progress-bar-6 bar {
  background-color: dodgerblue;
}
.progress-bar-7 bar {
  background-color: powderblue;
}
.progress-bar-8 bar {
  background-color: deepskyblue;
}
.progress-bar-9 bar {
  background-color: darkcyan;
}
