/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

/* Quelques transformations de style de l'accordion ngx-bootstrap */
.panel .panel-heading {
  cursor: pointer;
}

.panel .panel-heading .btn-link {
  color: black;
  font-weight: bold;
}
.panel .panel-heading .btn-link:hover {
  text-decoration: none;
}

.panel.panel-open .panel-heading {
  background-color: lightskyblue;
}

.panel.panel-open .panel-body > * {
  white-space: normal;
}

@media (max-width: 576px) {
  .panel.panel-open .panel-body h5 {
    font-size: 16px;
  }

  .panel.panel-open .panel-body div {
    font-size: 14px;
  }
}
