.home-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;

  .home-section {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    &.home-section-black {
      background-color: black;
      color: white;
    }

    &.home-section-white {
      background-color: white;
      color: black;
    }

    &.main-section {
      background-color: black;
      color: white;

      & > .name-container {
        margin-top: 150px;
        margin-left: 100px;
      }
      & > .name-container > .name {
        font-size: 40px;
      }
    }

    .section-title {
      text-align: center !important;
      margin: 25px auto 100px;
      font-size: 40px;
    }

    .section-body {
      margin-top: 250px;
      font-size: 20px;
      text-align: justify;
    }

    .section-image-container {
      padding-bottom: 50px;

      .section-image {
        margin: auto;
        text-align: center;

        img {
          height: 150px;
        }
      }
    }

    .section-text {
      font-size: 16px;
      margin: auto;

      .section-text-title {
        font-weight: bold;
      }
    }

    .section-body:before, .section-body:after,
    .section-text:before, .section-text:after {
      display: block;
      margin: 20px 0;
      content: "";
      border-top: 3px solid lightskyblue;
    }

    .section-container {
      margin-bottom: 100px;

      &.section-list-container {
        white-space: nowrap;
        float:none;
        clear: both;
        padding-left: 0;
        padding-right: 0;

        .section-list {
          display: inline-block;
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;

          .section-list-element {
            cursor: pointer;
            border-bottom: 1px solid lightskyblue;

            .col-title {
              padding: 25px;

              h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                margin: auto;
              }
            }

            .col-icon {
              text-align: right;
              margin: auto;
              font-size: 25px;
            }
          }

          .section-list-element:hover {
            background-color: lightgray;
          }
        }

        .section-accordion {
          display: inline-block;
          width: 100%;
          vertical-align: top;
          margin-left: 50%;
          padding-left: 15px;
          padding-right: 15px;

          .section-accordion-title {
            margin-bottom: 50px;

            .col-back-icon {
              font-size: 24px;
              cursor: pointer;
            }

            .col-title {
              margin: auto 0;
              h3 {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .home-container {
    .home-section {
      &.main-section {
        & > .name-container {
          margin-left: 50px;
        }
        & > .name-container > .name {
          font-size: 25px;
        }
      }

      .section-title {
        margin: 10px auto 50px;
        font-size: 25px;
      }

      .section-body {
        margin-top: 100px;
        font-size: 15px;
      }

      .section-image-container {
        padding-bottom: 25px;

        .section-image {
          flex: auto;
          max-width: fit-content;

          img {
            height: 100px;
          }
        }
      }

      .section-text {
        flex: auto;
        max-width: fit-content;
      }

      .section-container {
        &.section-list-container {
          .section-list {
            .section-list-element {
              .col-title {
                padding: 15px 10px;

                h4 {
                  font-size: 12px;
                }
              }

              .col-icon {
                font-size: 20px;
              }
            }
          }

          .section-accordion {
            .section-accordion-title {
              margin-bottom: 25px;

              .col-back-icon {
                font-size: 18px;
              }

              .col-title {
                h3 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .home-container {
    .home-section {
      &.main-section {
        & > .name-container > .name {
          font-size: 60px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .home-container {
    .home-section {
      &.main-section {
        & > .name-container > .name {
          font-size: 80px;
        }
      }
    }
  }
}
