<div class="home-container">

  <section id="home" class="home-section main-section">
    <div class="name-container">
      <div class="name" [translate]="'home.name'"></div>
      <div class="title" [translate]="'home.title'"></div>
    </div>
  </section>

  <!-- TODO : faire un composant pour chaque section ? -->
  <section id="about-me" class="home-section home-section-white">
    <div class="section-title" [translate]="'about-me.title'"></div>
    <div class="container section-container section-body" [translate]="'about-me.body'"></div>
  </section>

  <section id="formation" class="home-section home-section-black">
    <div class="section-title" [translate]="'formation.title'"></div>
    <div class="container section-container">
      <div class="row section-image-container" *ngFor="let formation of formations">
          <div class="col-4 section-image">
            <img src="assets/images/{{formation.logo.fileName}}" alt="{{formation.logo.description}}" />
          </div>
          <div class="col-8 section-text">
            <div class="section-text-title"><span>{{getFormationPeriod(formation)}} : </span><span>{{formation.place}}</span></div>
            <div>{{formation.description}}</div>
          </div>
        </div>
    </div>
  </section>

  <section id="experiences"  class="home-section home-section-white">
    <div class="section-title" [translate]="'experiences.title'"></div>
    <div class="container section-container section-list-container"
         [@containerListAccordion]="experiencesContainerState" (@containerListAccordion.done)="containerListAccordionAnimationDone($event)">

      <div class="section-list">
        <div class="row section-list-element" *ngFor="let experience of experiences"
          (click)="experiencesContainerState = 'accordion'; selectedExperience = experience">
          <div class="col col-10 col-title">
            <div class="row" title="{{getExperiencePeriod(experience)}} - {{experience.customer}}">
              <div class="col-6 pr-1">
                <h4>{{getExperiencePeriod(experience)}}</h4>
              </div>
              <div class="col-6 pl-1">
                <h4>{{experience.customer}}</h4>
              </div>
            </div>
          </div>
          <div class="col col-2 col-icon">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>

      <div class="section-accordion">
        <div class="row section-accordion-title">
          <div class="col col-1 col-back-icon" (click)="onBackToExperiencesListClick()">
            <i class="fa fa-arrow-left"></i>
          </div>
          <div class="col col-10">
            <div class="row">
              <div class="col col-12 col-title">
                <h3 class="text-center">{{selectedExperience?.customer}} ({{getExperiencePeriod(selectedExperience)}})</h3>
              </div>
            </div>
            <div class="row">
              <div class="col col-12 col-subtitle">
                <h4 class="text-center">{{selectedExperience?.position}}</h4>
              </div>
            </div>
          </div>
          <div class="col col-1"></div>
        </div>

        <accordion [closeOthers]="true">
          <accordion-group heading="{{'experiences.body.experiencePanel.context.title' | translate}}" [isOpen]="isContextOpen">
            <div>
              <ul>
                <li *ngFor="let contextRow of selectedExperience?.context">{{contextRow}}</li>
              </ul>
            </div>
          </accordion-group>
          <accordion-group heading="{{'experiences.body.experiencePanel.activity.title' | translate}}" 
            [isOpen]="isActivitiesOpen">
            <div *ngFor="let activity of selectedExperience?.activities">
              <h5>{{'activityType.' + activity.type | translate}}{{'experiences.body.experiencePanel.activity.type.suffix' | translate}}</h5>
              <ul>
                <li *ngFor="let subActivity of activity.list">
                    {{subActivity.title}}
                  <ul *ngIf="subActivity.children">
                      <li *ngFor="let subActivityLevel2 of activity.list">
                          {{subActivityLevel2.title}}
                      </li>
                  </ul>
                </li>
              </ul>
            </div>
          </accordion-group>
          <accordion-group heading="{{'experiences.body.experiencePanel.environment.title' | translate}}" [isOpen]="isEnvironmentOpen">
            <div>
              <span style="text-decoration: underline;" [translate]="'experiences.body.experiencePanel.environment.ide.title'"></span>
              <span [translate]="'experiences.body.experiencePanel.environment.ide.suffix'"></span>
              {{selectedExperience?.environment.ide}}.
            </div>
            <div>
              <span style="text-decoration: underline;" [translate]="'experiences.body.experiencePanel.environment.technologies.title'"></span>
              <span [translate]="'experiences.body.experiencePanel.environment.technologies.suffix'"></span>
              <span *ngFor="let technology of selectedExperience?.environment.technologies; let lastTechnology = last;">{{technology}}{{!lastTechnology ? ', ': ''}}</span>
            </div>
            <div>
              <span style="text-decoration: underline;" [translate]="'experiences.body.experiencePanel.environment.versioning.title'"></span>
              <span [translate]="'experiences.body.experiencePanel.environment.versioning.suffix'"></span>
              {{selectedExperience?.environment.versioning}}.
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </section>

  <section id="skills" class="home-section home-section-black">
    <div class="section-title" [translate]="'skills.title'"></div>
    <div class="container section-container">
      <div class="section-cards without-pictures">
        <div class="row mt-5 justify-content-center">
          <div class="card mx-2 mb-3" *ngFor="let skill of skills">
            <div class="card-body">
              <h4 class="card-title">{{skill.title}}</h4>
              <p class="card-text">
                <progressbar class="{{'progress-bar-' + skill.theme}}" [value]="10 * skill.level"></progressbar>
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="leisure" class="home-section home-section-white">
    <div class="section-title" [translate]="'leisure.title'"></div>
    <div class="container section-container">
      <div class="section-cards with-pictures">
        <div class="card-deck">
          <div class="card" *ngFor="let leisure of leisures">
            <img class="card-img-top" src="assets/images/{{leisure.image.fileName}}" alt="{{leisure.image.description}}" />
            <div class="card-body text-center">
              <h4 class="card-title">{{leisure.title}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section home-section-black" style="min-height: auto">
    <div class="row">
      <div class="col-12">
        Mentions légales
      </div>
    </div>
  </section>
</div>

